<%= form_with(model: species) do |form| %>
  <% if species.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
        <% species.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :scientific_name, style: "display: block" %>
    <%= form.text_field :scientific_name %>
  </div>

  <%= form.fields_for :common_names do |common_name_form| %>
    <div>
      <%= common_name_form.label :common_name, style: "display: block" %>
      <%= common_name_form.text_field :common_name %>
    </div>
  <% end %>

  <%= form.fields_for :parameters do |parameter_form| %>
    <div>
      <%= parameter_form.collection_select(:species_function_id, SpeciesFunction.all, :id, :name) %>
    </div>

    <div>
      <%= parameter_form.label :layer, style: "display: block" %>
      <%= parameter_form.select :layer, SpeciesParameter.layers.keys.map { |k| [k.humanize, k] } %>
    </div>

    <div>
      <%= parameter_form.label :first_crop_time, style: "display: block" %>
      <%= parameter_form.text_field :first_crop_time %>
    </div>

    <div>
      <%= parameter_form.label :productive_life, style: "display: block" %>
      <%= parameter_form.text_field :productive_life %>
    </div>

    <div>
      <%= parameter_form.label :max_height, style: "display: block" %>
      <%= parameter_form.text_field :max_height %>
    </div>

    <div>
      <%= parameter_form.label :spacing, style: "display: block" %>
      <%= parameter_form.text_field :spacing %>
    </div>

    <div>
      <%= parameter_form.label :water_requirement, style: "display: block" %>
      <%= parameter_form.select :water_requirement, SpeciesParameter.water_requirements.keys.map { |k| [k.humanize, k] } %>
    </div>

    <div>
      <%= parameter_form.label :fertility_requirement, style: "display: block" %>
      <%= parameter_form.select :fertility_requirement, SpeciesParameter.fertility_requirements.keys.map { |k| [k.humanize, k] } %>
    </div>

    <div>
      <%= parameter_form.label :accepts_pruning, style: "display: block" %>
      <%= parameter_form.check_box :accepts_pruning %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
