<%= form_with(model: species) do |form| %>
  <% if species.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
        <% species.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :scientific_name, style: "display: block" %>
    <%= form.text_field :scientific_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
