<div id="<%= dom_id species %>">
  <p>
    <strong>Nome científico:</strong>
    <%= species.scientific_name %>
  </p>

  <p>
    <strong>Nome comum: </strong>
      <% species.common_names.each do |common_name| %>
        <%= common_name.common_name %>
      <% end %>
  </p>

  <p>
    <strong>Estrato:</strong>
    <%= species.layer %>
  </p>

  <p>
    <strong>Primeira colheita (anos):</strong>
    <%= species.start_crop_time %>
  </p>

  <p>
    <strong>Vida produtiva (anos):</strong>
    <%= species.end_crop_time %>
  </p>
</div>
