<h1>Canvas</h1>

<div data-controller="canvas">
  <div class="row">

    <div class="col">
      <% @species.each do |species| %>
        <div>
          <%= species.common_names.first.common_name %>
          <button data-action="canvas#addSpecies"
                  data-canvas-name-param="<%= species.name%>"
                  data-canvas-layer-param="<%= species.layer %>"
                  data-canvas-spacing-param

                    ="<%= species.spacing %>"
                  data-canvas-start-param="<%= species.start_crop_time %>"
                  data-canvas-end-param="<%= species.end_crop_time %>"
          >
            +
          </button>
        </div>
      <% end %>
    </div>

    <div class="col">
      <div data-canvas-target="canvasContainer">
      </div>
    </div>
  </div>
</div>
